# Ignore everything
#*
# But descend into directories
#!*/
# Recursively allow files under subtree
#!/subtree/**
# You can be specific with these rules
#!/some/other/deep/path/**
!.gitignore 
!archinstall.sh
